
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{

/*background: url(../img/newsletter.jpeg) no-repeat fixed 0 0;*/
background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/newsletter.jpeg);
background-image: linear-gradient(rgba(0, 0, 0, 0.007), rgba(0, 0, 0, 0.7)), url(../img/newsletter.jpeg);
 background-size: cover;
 height: 100vh;
 width: 100vw;
 color:white;
 font-family:  'Lato', 'Arial', sans-serif;

}




.hover{
height: 100%;
width: auto;
background-color: rgba(15,13,13,0.5);
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 13px;
}
.commingSoon{
  font-size: 40px;
  font-family: 'Galada', cursive;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: lighter;
}
.brand{
  font-size: 50px;
  color: #FFBDBD;
  font-family: 'Denk One', sans-serif;
  letter-spacing: 4px;
  font-weight: lighter;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slogan{
  padding-bottom: 10px;
}
.descritpion{
  padding-top: 16px;
}
.sloganText{
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}
.separationLine{
  height: 6px;
background-color: white;
width: 363px;
}

p{
  text-align: center;
  font-size: 27px;
}
.newsletter{
  margin-top: 15px;
}
h4{
  font-size: 31px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 17px;
}

form{}
.emailInput{
display: flex;
justify-content: center;
margin-bottom: 30px;
}

input{
  font-family: 'Roboto', sans-serif;
  width: 74%;
  padding: 15px 25px;
  margin: 8px 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-style: solid;
      border-right-style: solid;
  border-width: 1px;
      border-right-width: 1px;
  border-right: transparent;
      border-right-color: transparent;
  border-color: white;
  font-size: 25px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 0.5; /* Firefox */
}

button{
  background-color: transparent;
  width: 187px;
  height: 61px;
  margin-top: 8px;
  border-style: solid;
  border-width: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: 'Galada', cursive;
  color: white;
  font-size: 37px;
  cursor: pointer;
}
button:active{
  background-color: rgb(128, 128, 128);
}
.footer{
  display: flex;
align-items: center;
justify-content: center;

}
.footer:last-child.img{
  margin-right:0;
}
a{}
img{
  height: 50px;
  margin-right: 31px
}
